<div class="center jumbotron">
	<h1>Bienvenido a nuestra Cooperativa</h1>

	<h3>Tu mejor opcion es con nosotros!</h3>
	<h2>Total de prestamos ofrecidos : <%= @count %></h2>
	<h2>Total de prestamos ofrecidos : $<%= @sum %></h2>

</div>